<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head") %>
    
    <title>Paquetes</title>
</head>
<body>
    <header>
        <%-include ("../partials/nav") %>
    </header>
    
    <div class="contenedorpaquetes">
        
        <div class="card bg-dark text-white">
            <img src="/imagenes/32149517-aeropuerto-con-la-gente-y-avión-de-pasajeros-en-el-cielo.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Viajar seguro</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni nesciunt quidem ab vero mollitia accusam !</p>
                <p class="card-text"></p>
            </div>
        </div>

    </div>
    <div class="princonte">
        
        <div class="contenedorcards">

            <div class="card" style="width: 18rem;">
                <img src="/imagenes/tourbodegas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tour bodegas</h5>
                    <p class="card-text">Recorrer por el camino del vino, con alojamiento y almuezo incluido
                        <br> $ 25.000</br>
                    </p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            </div>

        <div class="contenedorcards">

            <div class="card" style="width: 18rem;">
                <img src="/imagenes/tourpotrerillos2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tour montañas</h5>
                    <p class="card-text">Circuitos por montañas y paisajes, con alojamiento incluido <br> $ 20.000</br></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        
        <div class="contenedorcards">
            <div class="card" style="width: 18rem;">
                <img src="/imagenes/tourciudad.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tour ciudad</h5>
                    <p class="card-text">Alojamiento en la ciudad, con visitas a lugares gastonimicos. <br> $ 17.000 </br></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>

        </div>


    </div>
    
        
    

    <%-include ("../partials/footer") %>


    
</body>
</html>