<footer>
    <p class="foter"> Viajes S. </p>
    <div class="redes">
        <h3>Redes</h3>
        <p><a href="">Facebook</a></p>
        <p><a href="">Instagram</a></p>
    </div>

    <img src="/imagenes/logo.png" alt="logofinal" class="logofin">
</footer>