
    <nav class="nave">
        <div class="principal">
            <h1> VIAJES S.</h1>
        </div>
        <div>
            <img src="/imagenes/logo.png" alt="logo" class="logoprincipal">
        </div>

        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>
        
        <ul class="links">
            <li class="listas"><a href="/viajes/paquetes" class="listasa">Paquetes</a></li>
            <li class="listas"> <a href="/viajes/contactos" class="listasa">Contactos</a></li>
            <li class="listas"><a href="/viajes/alojamientos" class="listasa">Alojamientos</a></li>
            <li class="listas"><a href="/viajes/inicio" class="listasa"> Inicio </a></li>
            </li>
         </ul>

        


    </nav>

